name: Check
on:
  pull_request:
  push: 
    branches: 
      - master

jobs:
  test:
    name: Check
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Run checks
      run: make
