name: Lint
on:
  pull_request:
  push: 
    branches: 
      - master

jobs:
  test:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Run tests
      run: make lint
